<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Rate Cafe</h1>
  <p><strong>Name : </strong><%= cafe.name %></p>
  <p><strong>Phone : </strong><%= cafe.phone %></p>
  <p><strong>Total Ratings : </strong><%= cafe.reviewCount %></p>
  <form action="/rate/<%= cafe.id %>" method="post">
    <label for="rating">Rate it from 1 to 5:</label>
    <input type="number" name="rating" id="rating" min="1" max="5" required>
    <button type="submit">Submit Rating</button>
  </form>
</body>
</html>